// colors
$primary-color: #0199d4;
$primary-color-dark: #0178a8;

$white: #fff;
$black: #000;

// shadows
$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

// borders
$border-radius: 5px;
$border-radius-xl: 10px;

// breakpoints rules
$mobile-widht: 600px;

// padding and margin rules
$padding-desktop: 0 5em;
$padding-mobile: 0 1em;

// header
$header-height: 5em;

// width rules
$mobile-widht: 600px;
$desktop-widht: 1200px;
