.activities-quotes-carousel {
  background-color: #f7f7f7;
  border-radius: 10px;
  width: 100%;

  .carousel {
    .carousel-item {
      max-width: 400px;
    }
  }
}
.activities-page {
  .activities_content {
    margin-top: 2em;
  }
}
