@use '@/sass/index' as *;

.activities_content_layout {
  .carousel {
    max-width: calc(100vw - 440px);
    background-color: #f7f7f7;

    .carousel-item {
      max-width: 400px !important;
    }
  }
}
.activities-page {
  .activities_content {
    margin-top: 2em;
  }
}

@include mobile {
  .activities_content_layout {
    .carousel {
      max-width: 100vw;
    }
  }
}
