@use '@/sass/index' as *;

.only-quote {
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  gap: 3em;
  margin-right: 1em;
  margin-top: 1.5em;

  .equipment-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background: #dfdfdf;
      top: 25%;
      right: -1.5em;
      width: 3px;
      height: calc(100% - 150px);
      cursor: auto;
      border-radius: 30px;
    }

    &[data-equipment-length='1'] {
      &::before {
        height: 150px;
        top: 0;
      }
    }

    &[data-equipment-length='3'] {
      &::before {
        top: 17%;
      }
    }

    .equipment {
      background-color: #fff;
      padding: 1em;
      border-radius: 10px;
      border: 1px solid transparent;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      gap: 1em;
      transition: all 0.3s ease-in-out;
      position: relative;
      height: 150px;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: calc(-1.5em - 16.5px);
        width: 17px;
        height: 17px;
        background: #dfdfdf;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        cursor: auto;
      }

      &:hover {
        border: 1px solid $primary-color;
      }

      span {
        font-weight: bold;
      }

      .status {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .img {
          background-color: #dfdfdf;
          width: 37px;
          height: 37px;
          border-radius: 50%;
          display: grid;
          place-items: center;
        }

        small {
          font-weight: 600;
        }
      }
    }

    .equipment--selected {
      border: 1px solid #00b894;
    }

    .equipment--reviewed {
      .status {
        .img {
          background-color: #00b894;
        }
      }
    }

    .equipment--rejected {
      .status {
        .img {
          background-color: #d5303e;
        }
      }
    }
  }

  .with-before {
    overflow: auto;
    width: calc(100% + 2.5em);
    padding-right: 2.5em;
    &::before {
      display: none;
    }
  }
  &__body {
    &__client {
      background-color: #fff;
      padding: 1em;
      border-radius: 10px;
      display: flex;
      gap: 3em;

      div {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 1em;

        h5 {
          font-weight: 600;
          font-size: 0.9em;
          span {
            font-weight: 400;
          }
        }
      }
    }
  }

  .equipment-info-selected {
    background-color: #fff;
    margin-top: 1em;
    padding: 1em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 2em;

    h4 {
      font-weight: 600;
      span {
        font-weight: 400;
      }
    }

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      div {
        display: flex;
        gap: 1em;
        align-items: center;
      }
    }
  }

  .prices-equipment {
    margin-top: 1em;
    h4 {
      font-weight: 600;
    }

    .prices {
      display: flex;
      justify-content: space-between;
      gap: 1em;
    }

    .prices__footer {
      margin: 1.5em 0 1em 0;
      display: flex;
      justify-content: flex-end;
      gap: 1em;
    }
  }
}

.only-quote__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  font-size: 0.9em;

  &__prices,
  &__buttons {
    display: flex;
    gap: 1em;
  }

  &__prices {
    width: 60%;
  }
}

@include mobile {
  .only-quote {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 0;

    .equipment-container {
      &::before {
        display: none;
      }

      .equipment {
        height: auto;
        border: 1px solid transparent;
        width: auto;

        &::after {
          display: none;
        }

        .status {
          .img {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
    .prices {
      display: flex;
      flex-direction: column;
      gap: 1em;
    }
    .equipment-info-selected {
      &__header {
        flex-direction: column;
        gap: 1em;
        align-items: flex-start;
      }
    }
  }

  .only-quote__footer {
    position: relative;
    flex-direction: column;
    gap: 1em;
    flex-wrap: wrap;

    &__prices {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1em;
    }

    &__buttons {
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      gap: 1em;
    }
  }
}
