.quotes-container__item {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 2em;
  padding: 1.5em;
  position: relative;
  border-radius: 10px;
  height: 185px;
  color: #333;
  font-weight: 600;
  font-size: 0.9em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  h4 {
    font-weight: 700;
    font-size: 1em;
  }

  &::after {
    content: '';
    position: absolute;
    top: 27%;
    left: 0;
    width: 4px;
    border-radius: 30px;
    height: 40px;
  }

  &[data-status='pending'] {
    &::after {
      background: #d5303e;
    }
  }

  &[data-status='waiting'] {
    &::after {
      background: #ff8000;
    }
  }

  &[data-status='done'] {
    &::after {
      background: #00b894;
    }
  }

  .status-info,
  .action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      color: #999;
    }
  }
  .action {
    margin-top: auto;
  }
}
