.table-b-01 {
  width: 100%;

  h2 {
    font-size: 1.2em;
    font-weight: 700;
  }

  &__equipment-information {
    &__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 20px;
      div {
        width: 48%;
        margin-bottom: 20px;
        p {
          font-size: 14px;
          font-weight: 700;
          color: #2f2a2a;
          margin-bottom: 5px;
        }
        span {
          font-size: 14px;
          font-weight: 500;
          color: #000;
        }
      }
    }
  }

  &__observations {
    display: flex;
    flex-direction: column;
    gap: 2em;

    div {
      width: 48%;
      margin-bottom: 20px;
      p {
        font-size: 14px;
        font-weight: 700;
        color: #2f2a2a;
        margin-bottom: 5px;
      }
      span {
        font-size: 14px;
        font-weight: 500;
        color: #000;
      }
    }
  }
}
