.certificates-viewer {
  &__main-info {
    min-width: 100%;

    .carousel {
      background-color: #f7f7f7;
      margin-top: 1em;

      // width: fit-content;
    }

    .carousel-item {
      border-radius: 5px;
      background-color: #fff;
      max-width: 300px;
      position: relative;
      cursor: pointer;
      padding: 1em;
      margin: 1em 2em 1em 2em;
      display: flex;
      min-height: 130px;
      position: relative;

      p {
        min-height: 60%;
      }

      span {
        display: block;
      }
      &:hover {
        background-color: rgb(0, 153, 255, 0.1);
      }
    }

    .selected {
      &::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgb(0, 153, 255, 0.1);
        bottom: 0;
        left: 0;
        z-index: -1;
        border-radius: 5px;
      }

      &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        border-bottom: 2px solid rgb(0, 153, 255);
        bottom: 0;
        left: 0;
        z-index: -1;
        border-radius: 5px;
      }

      background-color: transparent;
    }

    &__details {
      width: 100%;
      min-height: 100px;
      margin-top: 1em;
      border-radius: 10px;

      &__selected {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;

        &__item {
          width: 100%;
          display: flex;
          justify-content: space-between;
          gap: 1em;
          padding: 1em;
          background-color: #fff;
          border-radius: 10px;
          cursor: pointer;
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
          max-width: 350px;

          p {
            color: #333;
            font-weight: 700;

            span {
              color: #777;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}
