@use '@/sass/index' as *;

.client-info-container {
  display: flex;
  gap: 2em;
  justify-content: space-between;

  .renderer-client {
    width: 450px;
    height: fit-content;
  }
}

@include mobile {
  .client-info-container {
    flex-direction: column;
    gap: 1em;

    .renderer-client {
      width: 100%;
    }
  }
}
