.activity-viewer {
  .layout-page__content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 1em;
  }

  &__main-info {
    width: 60%;

    .carousel-item {
      border-radius: 5px;
      max-width: 300px;
      position: relative;
      cursor: pointer;
      padding: 1em;

      &:hover {
        background-color: rgb(0, 153, 255, 0.1);
      }
    }

    .selected {
      &::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgb(0, 153, 255, 0.1);
        bottom: 0;
        left: 0;
        z-index: -1;
        border-radius: 5px;
      }

      &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        border-bottom: 2px solid rgb(0, 153, 255);
        bottom: 0;
        left: 0;
        z-index: -1;
        border-radius: 5px;
      }

      &:hover {
        background-color: transparent;
      }
    }

    &__details {
      width: 100%;
      min-height: 400px;
      background-color: rgb(245, 245, 245);
      margin-top: 1em;
      border-radius: 10px;
    }
  }

  &__services-personal {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    .activity-viewer__services {
      padding-top: -1em;
      min-height: 420px;
    }

    .activity-viewer__personal {
    }
  }
}
