@use '@/sass/index' as *;

.main {
  width: 100%;
  min-height: 100vh;
  @include padding-control;
  margin: auto;

  &-body {
    background-image: url('..//assets/images/metrocal_black_white.png');
    background-repeat: no-repeat;
    background-position: center 0;
  }

  header {
    margin-top: 1.5em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;

    .main-header__note {
      display: block;
      width: 100%;
      text-align: center;
    }

    .main {
      &-image {
        width: 17%;
        min-width: 100px;

        img {
          width: 60px;
          height: 60px;
        }
      }
      &-title {
        width: calc(100% - (17% + 17%) - 2em);
        h4 {
          display: flex;
          flex-direction: column;
          align-items: center;
          font-weight: bold;
          font-size: 0.9em;
        }
      }

      &-code {
        width: 17%;
        min-width: 100px;
        h5 {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          font-weight: bold;
          font-size: 0.9em;
          span {
            text-align: right;
          }
        }
      }
    }
  }
}

.contact-information {
  h5 {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
  }
  &__body {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    gap: 8em;

    section {
      width: 45%;
    }

    &__section-right__button {
      display: flex;
      justify-content: flex-end;
      margin-top: 2.2em;
    }
  }
}

.register-equipment {
  h5 {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
  }
  &__body {
    margin-top: 2em;
    font-weight: 500;
    .table {
      width: 100%;

      &__header {
        &__summary {
          display: flex;
          justify-content: space-around;
          font-weight: 600;
        }
        &__th {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
          gap: 1em;
          align-items: center;
          margin-top: 1em;
          padding: 0.5em 0;
          border-bottom: 1px solid #eaeaea;
        }
      }

      &__body {
        &__tr {
          border-bottom: 1px solid #eaeaea;
          padding: 2em 0;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
          gap: 1em;
          align-items: center;
          animation: fadeIn 0.5s ease-in-out;
          position: relative;

          @keyframes fadeIn {
            from {
              opacity: 0;
            }
            to {
              opacity: 1;
            }
          }

          .delete-equipment {
            position: absolute;
            right: -40px;
            button {
              cursor: pointer;
              background: none;
              outline: none !important;
              border: none;
            }
          }

          &__td {
            &__btn {
              padding: 0.5em 1em;
              width: 100%;
              text-align: start;
              background: none;
              outline: none;
              border: none;
              color: #999;
              font-family: 'Montserrat', sans-serif;
              position: relative;
              font-weight: bold;
              transition: all 0.3s ease-in-out;
              cursor: pointer;

              &::after {
                content: '';
                position: absolute;
                width: 4px;
                border-radius: 30px;
                height: 100%;
                top: 0;
                left: 0;
                background-color: #999;
              }

              &:hover {
                color: #555;
                &::after {
                  background-color: #555;
                }
              }
            }

            select {
              font-family: 'Montserrat', sans-serif;
              padding: 0.5em 1em;
              border: 1px solid #ffffff !important;
              outline: none !important;
              cursor: pointer;
              width: 100%;
            }

            input,
            .register-equipment__body__autocomplete input {
              font-family: 'Montserrat', sans-serif;
              background: none;
              outline: none;
              width: 90%;

              margin-top: 0.5em;
              padding: 0.8em;
              border: 1px solid #ccc;
              border-radius: 5px;
              font-size: 0.9em;
              transition: all 0.3s ease-in-out;

              &:focus {
                border-color: $primary-color;
              }

              &:disabled {
                background-color: #eee;
                cursor: not-allowed;
              }
            }
          }
        }
      }
    }
  }

  .controllers {
    margin: 2em 0;
    display: flex;
    justify-content: space-between;

    &__btn__back {
      border: 0;
      background-color: none;
      outline: none;
      display: flex;
      justify-content: center;
      align-items: center;
      background: none;
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      gap: 0.5em;
      color: #555;
      cursor: pointer;

      img {
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        img {
          transform: translateX(-5px);
        }
      }
    }
  }
}
.main-controllers {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 0;
  gap: 1.5em;
  &-button {
    border-radius: 50px;
    padding: 0.5em 1.5em;
    border: 1px solid #555;
    background: none;
    outline: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    width: 260px;
  }

  .active {
    background-color: $primary-color-dark;
    border: 1px solid transparent;
    color: #fff;
  }
}

footer {
  background-color: #fcfcfc;
  @include padding-control();
  padding-top: 2em;
  width: 100%;
  padding-bottom: 2em;
  margin: 2em auto;

  .main-footer__version {
    display: flex;
    justify-content: center;
    margin: 0 0 1.5em 0;
    h5 {
      margin-top: 2em;
      font-weight: 600;
    }
  }

  .main-footer__signature {
    display: flex;
    justify-content: space-between;

    span {
      font-weight: 5 00;
    }

    &__review {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
    }
  }

  .main-footer__note {
    display: flex;
    flex-direction: column;
    span {
      font-weight: 400;

      .italic {
        font-style: italic;
      }
    }
  }

  .main-footer__contact {
    margin: 3.5em 0 1.5em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
  }
}

@include mobile {
  .main {
    .date {
      display: none;
    }
    header {
      flex-direction: column;

      .main-header__note {
        font-size: 0.8em;
      }

      .main {
        &-title {
          width: 100%;
          font-size: 0.9em;
        }
        &-code {
          width: 100%;
          h5 {
            align-items: center;
            span {
              text-align: center;
            }
          }
        }

        &-image {
          width: 100%;
          display: flex;
          justify-content: center;
        }
      }
    }
  }

  .main-controllers {
    gap: 1em;
    flex-direction: column;
    align-items: center;

    &-button {
      font-size: 0.8em;
    }

    img {
      display: none;
    }
  }

  .contact-information {
    h5 {
      gap: 2em;
      justify-content: space-between;
    }

    &__body {
      flex-direction: column;
      gap: 0;
      section {
        width: 100%;
      }

      &__section-right__button {
        justify-content: center;
      }
    }
  }

  footer {
    display: flex;
    flex-direction: column;
    gap: 2em;

    .main-footer__version {
      h5 {
        margin-top: 0;
        text-align: center;
      }
    }

    .main-footer__signature {
      flex-direction: column;

      div:nth-child(1) {
        display: flex;
        justify-content: space-between;
        span {
          width: 50%;
        }
      }

      &__review {
        margin-top: 1em;
        div {
          display: flex;
          justify-content: space-between;
          width: 100%;
          span {
            width: 50%;
          }
        }
      }
    }

    .main-footer__note {
      span {
        font-size: 0.8em;
      }
    }

    .main-footer__contact {
      margin-top: 1em;
      font-size: 0.8em;
      text-align: center;
    }
  }
  .register-equipment {
    h5 {
      gap: 2em;
    }

    &__body {
      max-width: 100%;
      overflow: auto;
      position: relative;
      &::after {
        content: 'desliza >>>';
        font-family: 'Montserrat', sans-serif;
      }

      .table {
        width: 350%;
        padding: 1em;
        border-radius: 10px;
        background-color: rgb(241, 238, 238);
      }
    }
  }
}
