@use '@/sass/index' as *;

.pending-certificate__selected {
  min-height: 500px;
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 3em;

  .client {
    h2 {
      font-size: 1.3rem;
      font-weight: 600;
    }

    &__details {
      display: flex;
      gap: 2em;
      justify-content: space-between;
      align-items: center;
      margin-top: 0.5em;
      color: #777;
    }
  }

  .team_members {
    h3 {
      font-size: 1.2em;
      font-weight: 600;
    }

    &__content {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 1em;
      margin-top: 1.5em;

      &__item {
        display: flex;
        align-items: center;
        gap: 0.5em;

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }

  .services {
    h3 {
      font-size: 1.2em;
      font-weight: 600;
    }

    &__content {
      border: 1px solid #999;
      border-radius: 10px;
      padding: 1em;
      display: flex;
      gap: 1em;
      margin-top: 1.5em;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

      &__item {
        cursor: pointer;
        min-height: 80px;
        padding: 0.5em 1em;
        border-radius: 5px;
        background-color: #e2e2e2;
        display: flex;
        flex-direction: column;
        gap: 1em;

        span {
          font-size: 0.9em;
          font-weight: 600;
        }

        &-selected {
          color: #fff;
          background-color: #09f;
        }
      }
    }
  }

  .method {
    h3 {
      font-size: 1.2em;
      font-weight: 600;
    }

    &__content {
      margin-top: 1.5em;
      background-color: #f5f5f5;
      min-height: 120px;
      border-radius: 10px;

      &__item {
        padding: 0.5em 1em;
        border-radius: 5px;
        background-color: #fff;
        border: 1px solid transparent;
        cursor: pointer;
        width: fit-content !important;
        max-width: 300px;

        display: flex;
        gap: 0.5em;
        flex-direction: column;

        span {
          display: flex;
          gap: 1em;
          align-items: center;
          justify-content: space-between;
        }

        &-selected {
          border: 1px solid #09f;

          box-shadow: 0 0 5px 0 #09f;
        }
      }
    }
  }
}

@include mobile {
  .pending-certificate__selected {
    gap: 1em;

    .client {
      h2 {
        font-size: 1.1rem;
      }

      &__details {
        gap: 1em;
        flex-direction: column;
        align-items: flex-start;
      }
    }

    .team_members {
      h3 {
        font-size: 1.1em;
      }

      &__content {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 0.5em;

        &__item {
          img {
            width: 40px;
            height: 40px;
          }
        }
      }
    }

    .services {
      h3 {
        font-size: 1.1em;
      }

      &__content {
        gap: 0.5em;
        display: flex;
        flex-direction: column;

        &__item {
          width: 100%;

          padding: 0.5em 0.8em;
        }
      }
    }

    .method {
      h3 {
        font-size: 1.1em;
      }

      &__content {
        height: 100px;

        &__item {
          padding: 0.5em 0.8em;
          font-size: 0.8em;
        }
      }
    }
  }
}
