@use '@/sass/index' as *;

li {
  list-style: none;
}

.dashboard-container {
  background-color: #f7f7f7;
  min-height: 100vh;
  display: flex;

  .sidebar {
    background-color: #fff;
    width: 280px;
    padding: 1em;

    .logo {
      display: flex;
      font-weight: bold;
      color: $primary-color;
      font-size: 1.5em;
      padding: 0.4em 0 0.8em 0.8em;
      // img {
      //   width: 60px;
      //   margin: auto;
      //   height: 60px;
      // }
    }

    nav {
      margin-top: 1.5em;
      font-size: 0.9em;
      .nav-links {
        width: 100%;
        margin-top: 1em;
        h4 {
          letter-spacing: 2px;
          text-transform: uppercase;
          color: #999;
          margin-bottom: 0.5em;
          font-size: 0.8em;
          font-family: 400;
          padding: 0 1.8em;
        }

        .nav-links-list {
          display: flex;
          flex-direction: column;
          gap: 1.3em;

          .active {
            border-radius: 10px;
            background-color: #fcfcfc;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
          }

          a {
            display: flex;
            height: 2.5em;
            padding: 0 1.5em;
            align-items: center;
            border-radius: 5px;
            font-weight: 600;
            transition: all 0.2s ease-in-out;
            color: #222;

            img {
              margin-right: 1.5em;
              width: 1.2em;
              height: 1.2em;
              object-fit: contain;
            }

            .vector-icon {
              transition: all 0.2s ease-in-out;

              transform: rotate(90deg);
              margin-left: auto;
            }

            &:hover {
              background-color: #f5f5f5;
              color: #222;

              .vector-icon {
                transform: rotate(-90deg);
              }
            }
          }

          .collection {
            height: 2.8em;
            overflow: hidden;
            transition: all 0.2s ease-in-out;

            &:hover {
              height: calc(2.5em * var(--data-collection-height));
            }
          }

          &-collection {
            a {
              transform: translateX(2em);
              width: calc(100% - 2em);
              font-size: 0.9em;
              font-weight: 400;
              letter-spacing: 1px;
              margin-top: 1em;
            }
          }
        }
      }
    }
  }

  .content {
    flex: 1;

    .header {
      width: 100%;
      background-color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      padding: 1em 1.5em;

      h4 {
        font-weight: 600;
      }

      .user {
        display: flex;
        align-items: center;
        gap: 3em;

        .notification {
          position: relative;
          cursor: pointer;

          &::before {
            content: attr(data-badge);
            position: absolute;
            top: -0.5em;
            right: -0.5em;
            width: 1.5em;
            height: 1.5em;
            background-color: $primary-color;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            font-size: 0.7em;
            font-weight: 600;
          }
        }

        .profile {
          img {
            cursor: pointer;
            width: 4em;
            height: 4em;
            object-fit: cover;
            border: 5px solid transparent;
            border-radius: 50%;
            transition: all 0.2s ease-in-out;

            &:hover {
              border: 5px solid $primary-color;
            }
          }
        }
      }
    }
  }
}
