@use '@/sass/index' as *;

.layout-page {
  margin: 1em 0 1.5em 1.5em;
  position: relative;
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;

    div {
      display: flex;
      gap: 1em;
      align-items: center;
      img {
        width: 25px;
        cursor: pointer;
        margin-top: 0.2em;
      }
      h1 {
        font-size: 1.3em;
        font-weight: 600;
      }

      &:nth-child(2) {
        margin-right: 1em;

        h4 {
          font-weight: 600;
        }
      }
    }
  }

  &__footer {
    position: fixed;
    background-color: #fff;
    bottom: 0;
    right: 0;
    width: calc(100% - 280px);
    margin-left: -1.5em;
    padding: 1.5em;
  }
}

@include mobile {
  .layout-page {
    margin: 0;
    padding: 1em;

    &__content {
      padding: 0 !important;
      margin-bottom: 1em;
    }

    &__footer {
      position: relative;
      width: 100%;
      margin: 0 !important;
    }
  }
}
