@use '@/sass/index' as *;

.users-sections {
  display: flex;
  justify-content: space-between;
  gap: 2em;

  .search_users-container {
    width: 35%;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .users-content {
    width: 65%;
    padding: 1em;
    border-radius: 0 0 10px 10px;
    height: 100%;
    background-color: #fff;
    color: #333;
    margin-top: -3.3em;

    &-header {
      h4 {
        font-size: 1.1em;
        font-weight: 600;
        padding-bottom: 0.5em;
      }

      &-info {
        border-bottom: 1px solid #e6e6e6;
        padding: 1em 0;
        display: flex;
        gap: 2em;
        div {
          display: flex;
          align-items: center;
          gap: 0.5em;
          span {
            font-weight: 500;
          }
        }
      }

      &-actions {
        padding: 1.5em 0;
        margin-bottom: 1em;
        border-bottom: 1px solid #e6e6e6;
      }
    }

    &-body {
      display: grid;
      border-radius: 10px;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 1em;

      .user {
        background-color: #fbfbfb;
        border-radius: 5px;
        padding: 1em;

        &-info {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid #e6e6e6;
          padding-bottom: 1em;

          &-name {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 0.5em;

            img {
              border-radius: 50%;
            }

            &-text {
              display: flex;
              flex-direction: column;

              span {
                font-weight: 600;
                text-transform: capitalize;
              }

              small {
                color: #999;
                font-weight: 600;
                font-size: 0.9em;
                border-radius: 4px;
                width: fit-content;
              }
            }
          }
        }

        &-email {
          padding: 0.8em 0;
          border-bottom: 1px solid #e6e6e6;
          width: 100%;
        }
      }
    }
  }
}

@include mobile {
  .users-sections {
    flex-direction: column;
    gap: 1em;

    .search_users-container {
      width: 100%;
      margin-top: 0;
    }

    .users-content {
      width: 100%;
      margin-top: 0;
      border-radius: 0;
      padding: 0;
      height: 100%;
      margin-top: 0;
      margin-bottom: 1em;

      &-header {
        padding: 1em;
        border-radius: 0;
        margin-bottom: 1em;
      }

      &-body {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

        .user {
          &-info {
            padding-bottom: 0.5em;

            &-name {
              gap: 1em;
            }
          }

          &-email {
            padding: 0.5em 0;
          }
        }
      }
    }
  }
}
